In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import kaggle

In [5]:
# download the dataset from kaggle
#!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to /Users/katkang/A_Katrina.K
  0%|                                                | 0.00/200k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 200k/200k [00:00<00:00, 2.34MB/s]

In [6]:
# extract file from zip file
#import zipfile
#zip_ref = zipfile.ZipFile('orders.csv.zip')
#zip_ref.extractall()
#zip_ref.close()

In [29]:
# read the dataset from the file and handle null value
df = pd.read_csv('orders.csv')
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [31]:
# check the unique value of the column 'Ship Mode'
# we can observe 'Not Available' and 'unknown', we want to change them to NA
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [32]:
df = pd.read_csv('orders.csv', na_values = ['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [33]:
# rename the columns name: make them lower case and replace space with underscore
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')

In [34]:
# derive new columns: discount, sale price, and price
df['discount'] = df['list_price'] * df['discount_percent'] * .01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']

In [37]:
# drop unwanted columns: discount percent, cost price, list price
df.drop(columns = ['list_price', 'cost_price', 'discount_percent'], inplace = True)

In [38]:
# convert order date from object datatype to datetime
df['order_date'] = pd.to_datetime(df['order_date'], format = "%Y-%m-%d")

In [45]:
# load the data into sql derver using replace option
import sqlalchemy as sal
engine = sal.create_engine('mysql+pymysql://root:cleverme@localhost:3306/Retail_Orders')
conn = engine.connect()

In [49]:
df.to_sql('df_orders', con = conn, index = False, if_exists = 'append')

9994

In [48]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')